[Unit]
Description=FRPC Web
Documentation=https://github.com/sccens/frpc-web
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=frpc-web
Group=frpc-web
WorkingDirectory=/opt/frpc-web
EnvironmentFile=-/opt/frpc-web/frpc-web.env
ExecStart=/opt/frpc-web/bin/frpc-web
Restart=on-failure
RestartSec=3
UMask=0077
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/opt/frpc-web/data
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
